<!DOCTYPE html>
<html>
  <head>
    <title>Splurty</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- GoogleFonts -->
    <link href="https://fonts.googleapis.com/css?family=Rufina|Rye|Staatliches|Suez+One&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!--nav-->
    <header class="row">
      <div class="col-3 logo">
      <h1>BLURTY</h1>
           
      </div>
      <div class="col-4">
          
      </div>
      <div class="col-4 links">
        <p class="slogan">Blurting advice since 2019<i>ish</i></p>  
        <ul class="nav">
        <li><%= link_to 'About', about_path %></li>
        <li><%= link_to 'Contribute', new_quote_path %></li>      
        </ul>

      </div>
    </header>    

     <br class="clear" />

    <%= yield %>
<footer><h5>&copy; Melanie K. Dee (2019)</h5>
</footer>
  </body>
</html>
